
<h3>@ViewBag.Message</h3>
<div class="container">
    <div class="row">
        <h2>
            <div>
                @ViewBag.Menu.Data-@ViewBag.Menu.Pasto
            </div>
        </h2>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-6">
            Primo:
        </div>
        <div class="col-md-6">
            @ViewBag.Menu.Primo
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-6">
            Secondo:
        </div>
        <div class="col-md-6">
            @ViewBag.Menu.Secondo
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-6">
            Contorno:
        </div>
        <div class="col-md-6">
            @ViewBag.Menu.Contorno
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-6">
            Dolce:
        </div>
        <div class="col-md-6">
            @ViewBag.Menu.Dolce
        </div>
    </div>
    <hr />
</div>
